<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="Styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">   

  <script src="Scripts/Index.js"></script>
</head>
<body>
    <div class="screen">
        <div class="carga"><h1>Carga</h1></div>
        <div class="descarga">
          <a href="https://docs.google.com/spreadsheets/d/1myD80_TfnYw8MuHPsoj9E9u9k3U5hhJ0-zSgus7k0WA/edit?usp=sharing" download="documento_excel.xlsx">
            <h1>Descarga</h1>
          </a>
        </div>
      </div>
</body>
</html>